*{
  box-sizing: border-box;
}

body{
  font-family: 'Kumbh Sans', 'Microsoft JhengHei', sans-serif;
  /* font-family: 'Playfair Display', 'Microsoft JhengHei',  serif; */
}

header.navbar{
  position: fixed;
  top: 0;
  min-height: 90px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 0 40px;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.navbar-collapse{
  margin-left: 20px;
}

.nav-item{
  padding: 0 10px;
}

.nav-item.active a{
  color: #7d6955
}

.nav-item a{
  color: #a7a7a7;
}

.nav-item a:hover{
  color: #5f4a35;
}

main>div{
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-title{
  font-size: 3em;
  color: #7c4d32;
  position: relative;
  font-family: 'Crimson Text', serif;
}

.title{
  color: #7d6955;
  position: relative;
}

.title-line{
  position: absolute;
  background: #7d6955;
  bottom: -5px;
  height: 1px;
  width: 50px;
  left: calc(50% - 25px);
}

.logo{
  font-family: 'Playfair Display', 'Microsoft JhengHei',  serif;
  display: flex;
  align-items: center;
  font-size: 2em;
  color: #7d6955;
}

.logo img{
  width: 55px;
}

.logo .name{
  margin-left: 10px;
  font-style: italic;
}

.top-img{
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: calc(100vh - 90px);
  background-image: url('./img/pexels-pixabay-258154.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.top-img img{
  width: 100%;
}

.top-img .box{
  position: absolute;
  bottom: 30%;
  left: 10%;
  /* text-align: right; */
  color: #fff;
  width: 80%;
  max-width: 500px;
  font-family: 'Crimson Text', serif;
}

.top-img .title{
  font-style: italic;
  color: #fff;
  font-size: 8em;
  line-height: 1em;
  /* border-bottom: #fff solid 4px; */
}

.top-img .content{
  margin-left: 20px;
  font-size: 1.3em;
}

main>div{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.section{
  opacity: 0;
  transform:  translate(0, 20px);
  transition: opacity .5s, transform .5s;
}

.section.logo{
  transform:  translate(0, 50px);
  transition: transform 1s;
}

.section.active{
  opacity: 1;
  transform:  translate(0, 0);
}

.intro{
  display: flex;
  align-items: center;
}


.news .item>div:first-child{
  flex: 1;
}

.news .item>div:last-child{
  flex: 4;
}

.intro>div:first-child{
  flex: 1;
}

.intro>div:last-child{
  flex: 1;
  padding-left: 20px;
}

.intro>.img{
  margin-right: 0;
}

.intro .img img{
  width: 100%;
}

.intro .text .main-title{
  margin-bottom: 0.6em;
  font-size: 1.5em;
  font-weight: bolder;
}

.intro .text .content{
  line-height: 1.4em;
  color: #777;
}

h2{
  font-size: 2em;
  text-align: center;
}

.position .content{
  margin-top: 20px; 
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.position .content .item{
  position: relative;
  flex: 1;
  width: 20%;
  text-align: center;
  margin: 30px 10px;
}


.position .content .item:hover .img{
  opacity: 1;
  border-color: #786653;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.position .content .item:hover .title{
  opacity: 0;
}

.position .content .item .title{
  z-index: 9;
  font-size: 1.5em;
  position: absolute;
  width: 100%;
  top: calc(50% - 0.7em);
  transition: opacity .3s;
  cursor: pointer;
}

.position .content .item .img{
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.35;
  transition: opacity .3s;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

.news .content{
  margin-top: 30px;
}

.news .item{
  position: relative;
  display: flex;
  margin-bottom: 50px;
  border-radius: 5px;
  /* cursor: pointer; */
  /* align-items: center; */
}

.news .item:last-child{
  margin-bottom: 0px;
}

/* .news .item:hover{
  background: #fdfff0;
} */

.news .item .img{
  padding-bottom: 20%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.news .item .right-box{
  padding-left: 20px;
  line-height: 1.6em;
  flex: 1;
}

.news .item .right-box h2{
  font-size: 1.5em;
  text-align: left;
}

.news .item .right-box .second-title{
  font-size: 1em;
  color: #777;
}

.full-width{
  position: relative;
  width: 100vw;
  /* height: 500px; */
  padding: 100px 0;
  margin: 150px 0;
  text-align: center;
  max-width: unset;
}

.full-width .text{
  position: relative;
  z-index: 1;
  /* line-height: 500px; */
  font-size: 5em;
  color: #192826;
  /* color: #27423e; */
  opacity: 1;
  font-family: 'Crimson Text', serif;
}

.full-width .content{
  /* font-size: ; */
  position: relative;
  z-index: 1;
  opacity: 1;
  margin: 0 auto;
  width: 50%;
  font-size: 1.1em;
}

.full-width .button-box{

}

/* .full-width .button-box button{
  position: relative;
  z-index: 1;
  padding: 10px 30px;
  background-color: rgba(0,0,0,0);
  border: 2px solid #fff;
  font-size: 3em;
  opacity: .7;
  border-radius: 10px;
} */

.full-width .img{
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url('./img/pexels-photo-457882.jpeg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: .5;
}

.full-width .img img{
  width: 100%;
}

footer{
  color: #efefef;
  /* height: 180px; */
  background-color: #7d6955;
  padding: 30px 90px;
}

footer .title{
  font-size: 1.6em;
  color: #efefef;
  font-family: 'Playfair Display', 'Microsoft JhengHei',  serif;
  margin-bottom: 0.6em;
}

footer .info{
  font-size: 0.8em;
  line-height: 1.6em;
}


@media only screen and (max-width: 1240px){
  main>div{
    margin-left: 10%;
    margin-right: 10%;
  }

}

@media only screen and (max-width: 1080px){
  .news .item>div:first-child{
    padding-bottom: 30%;
  }

  .news .item>div:last-child{
    flex: 2
  }
}


@media only screen and (max-width: 720px){
  .top-img .title{
    font-size: 5em;
  }

  .top-img .content{
    font-size: 1em;
  }

  .news .item,
  .intro{
    flex-direction: column;
  }

  .position .content{
    flex-wrap: wrap;
    align-items: center;
  }

  .position .content .item{
    min-width: 30%;
  }

  .news .item>div:first-child{
    padding-right: 100%;
    padding-bottom: 70%;
  }

  .news .item .right-box, .intro>div:last-child{
    padding-left: 0;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 560px){
  .top-img{
    height: 50vh;
  }

  main>div{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .position .content .item{
    min-width: 60%;
  }

  .full-width .content{
    width: 70%;
  }
}